<h1>Welcome</h1>
<div>
    <div>
        <h2> Created by : Amol Patil</h2>
    </div>
    <div>
        <h2>Center : Kharghar</h2>
    </div>
    <div>
        <h2>RollNo : 210940320018</h2>
    </div>
</div>
<div>
    @Html.ActionLink("Index", "Index")
</div>